.education {
  .school {
    .name {
      display: flex;
      align-items: center;
    }
    .major {
      display: flex;
      align-items: center;
    }
    .time-range {
      font-size: 0.35cm;
    }
  }
}
